.jumbotron { 
  background:url(mihai-moisa-Djtc1T38-GY-unsplash-min.jpg) center center no-repeat; 
  background-size: cover;
max-width:100%;
height: 1000px;
position: relative;
top: -100px;
}

.navbar{

/* position: relative; */
/* position: fixed; */
z-index: 100;

}

  